img {

    width: 250px;

    border-radius: 50%;

}
.container {

    display: flex;

    align-items: center;

    justify-content: space-between;

    width: 80%;

    margin: 0 auto;

}
.hero {

    height: 100vh;

    display: flex;

    align-items: center;
}
body {

    background-color: #0a0f1c;

    color: white;

    font-family: 'Inter', sans-serif;

}
h1 {

    font-size: 48px;

}
h2 {

    color: #3b82f6;

}
.botao {

    display: inline-block;

    margin-top: 20px;

    padding: 12px 24px;

    background-color: #3b82f6;

    color: white;

    text-decoration: none;

    border-radius: 8px;

}
.botao:hover {

    background-color: #2563eb;

}
html {

    scroll-behavior: smooth;

}
.container-projetos {

    display: flex;

    gap: 20px;

    margin-top: 40px;

    justify-content: center;

}
.card {

    background-color: #111827;

    padding: 20px;

    border-radius: 10px;

    width: 250px;

}
.card:hover {

    border: 1px solid #3b82f6;

}
.botao-card {

    display: inline-block;

    margin: 5px 5px 0 0;

    padding: 8px 16px;

    background-color: #3b82f6;

    color: white;

    text-decoration: none;

    border-radius: 6px;

    font-size: 14px;

}
.botao-card:hover {

    background-color: #2563eb;

}
@media (max-width: 768px) {

    .container {

        flex-direction: column;

        text-align: center;

    }

}
@media (max-width: 768px) {

    .container-projetos {

        flex-direction: column;

        align-items: center;

    }

}
@media (max-width: 768px) {

    img {

        width: 180px;

        margin-top: 20px;

    }

}
#sobre {

    width: 80%;

    margin: 100px auto;

}
#sobre h2 {

    color: #3b82f6;

    margin-bottom: 20px;

}
#contato h2 {

    color: #3b82f6;

    margin-bottom: 20px;

}
#contato a {

    color: white;

    text-decoration: none;

}
#contato a:hover {

    color: #3b82f6;

}
#contato {

    width: 80%;

    margin: 100px auto;

    text-align: center;

}

#projetos {

    width: 80%;

    margin: 100px auto;

    text-align: center;

}
#projetos h2,
#contato h2 {

    text-align: center;

}
.contatos {

    display: flex;

    justify-content: center;

    gap: 30px;

    margin-top: 20px;

}
.contatos a {

    font-size: 28px;

    color: white;

    transition: 0.3s;

}
.contatos a:hover {

    color: #3b82f6;

    transform: scale(1.2);

}
